body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    background-color: #495837;
    /* Blue background */
    color: white;
    text-align: center;
    padding: 175px 20px;
    min-height: 55vh
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #5B4434;
    /* Coral button */
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #DDD1C7;
    /* Darker coral on hover */
}