.hero {
    background-color: #2A321F;
    color: white;

    display: flex;
    /* Use flexbox for centering */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Full height of the viewport */
    text-align: center;
    z-index: -2;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the video covers the entire section */
    opacity: 0.25;
    z-index: -1;
}


.hero-content {
    max-width: 800px;
    text-align: center;
    z-index: 500;
}

.hero-content h1 {
    text-align: center;
    margin: 0;
    font-size: 4.5em;
    margin-bottom: 40px;
}

.hero-content h1 span {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    color: #AFBF9B;
}

.hero-content img {
    width: 80px;
    margin-bottom: 10px;
    background-color: rgba(221, 209, 199, 1);
    filter: contrast(1.2);
    border-radius: 10px;
    padding: 5px;
    object-fit: cover;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.cta-button {
    background-color: #5B4434;
    /* Coral button */
    color: white;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: background-color, color 0.3s;
}

.cta-button:hover {
    background-color: #DDD1C7;
    color: #5b4434;
    /* Darker coral on hover */
}